









main{
    background-color: #C5C7C4;
}

.faq{
    padding: 2em;
    padding-right: 4em;
    padding-left: 4em;
    
   
    
}
.faq input[type="radio"] {
  display: none;
}

.faq label {
    color:black;
display: block;
  padding: 1em;
  background-color: transparent;
  margin-top: 0.5em;
  cursor: pointer;
  border-radius: 0.6em;
  transition: background-color 0.3s ease;
  border: 0.1em solid black;
  
  
}

.faq label:hover{
    background-color: #7D908C;
}

.faq input[type="radio"]:checked + label {
  color:black;
   
}

.answer {
  display: none;
  padding: 1em;
  background-color: transparent;
  border-left: 3px solid #7D908C;
  margin-bottom: 1em;
  
  
}

/* Toon het antwoord dat volgt op de geselecteerde vraag */
.faq input[type="radio"]:checked + label + .answer {
  display: block;
}


