@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: Nunito;
   
}
body{
    margin: 0;
    overflow-x: hidden;
    
}

/* NAVIGATIE*/

nav{
    
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1em;
    background-color: #C5C7C4 ;
    box-shadow: 0 0.1px 10px ;

}

.logo {
   width: 100%;
   max-width: 10em;
   display: flex;
   justify-content: center;
   margin: 0 auto;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   
   
}

.mainfaq{
    padding-top: 2em;
}

.links {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 300;
    gap: 10em;
}


.links:hover {
    color: #7D908C;
    transition: all 0.1s ease-in;
}

#hamburger{
    display: none;
}
.hamburger{
    display: inline-block;
    position: absolute;
    right: 2em;
    top: 2.7em;
    width: 1.5em;
    height: 2em;
    padding: 0;
    cursor: pointer;
    z-index: 1100;
    
}

.hamburger span {
    position: absolute;
    height: 2px;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.hamburger span:nth-child(1) {
    top: 6px;
}

.hamburger span:nth-child(2) {
    top: 12px;
}

#hamburger:checked ~ .slideout {
    transform: translateY(0);
}

.slideout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 16em;
    background-color: #7D908C;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
    z-index: 1050;
    padding-top: 7em;
    display: flex;
    flex-direction: column;
   
}

.slideout a {
    color: black;
    text-decoration: none;
    padding-bottom: 2em;
    font-size: 1.2em;
    text-align: center;
    margin: 0 auto;
    
    
}

.slideout a:hover{
    color: white;
    transition: all 0.2s ease-in-out;
    
}

#hamburger:checked ~ .hamburger span:nth-child(1) {
    opacity: 0;
}

#hamburger:checked ~ .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    top: 6px;
}

#hamburger:checked ~ .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
}

@media(min-width:768px) {

    .logo{
        justify-content: flex-start;
        margin: 0;
        padding-left: 1.2em;
        
    }

    
    
    .slideout {
    position: static;
    transform: none;
    height: auto;
    background: none;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
    padding-right: 1em;
  }

  /* Links horizontaal naast elkaar */
  .slideout a {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
  }

    .hamburger{
        display: none;
    }
}



/* HEADER*/

header{
    background-color: #C5C7C4;
    
}

header section{
    padding-left: 2em;
    padding-top: 2em;
}

.indexsection1 p{
    padding-bottom: 1em;
}

.btn{
    text-decoration: none;
    background-color: #7D908C;
    color: whitesmoke;
    border-radius: 0.8em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.1em;
    position: relative;
    
}


header h1{
    font-size: 3em;
    font-weight: 300;
    
}

header p{
    width: 100%;
    font-size: 1.2em;
}


.hero{
    width: 100%;
    padding-left: 0;
    height: auto;
   overflow: hidden;
   display: block;
   margin: 0 auto;
   margin-top: -4em;
   transform: translateY(-1.3em);
   padding-top: 3em;
}

@media(min-width:768px) {
    .hero{
        transform: translateY(-0.9em);
    }
}

/* SECTION 1*/

main{
    background-color: #7D908C;
}
.section1 {
    margin-top: -1.69em;
    padding-bottom: 5em;
    
}

.section1 p{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 20em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    font-size:1.2em ;
}

.section1 h2{
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
    font-size: 2em;
    font-weight: 400;
}

.mockup{
    display: block;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    max-width: 15em;
    
}

@media(min-width:768px) {
    .section1{
        display: flex;
        justify-content: center;
        gap: 2em;
    }
}

@media(min-width:1200px) {
    .section1{
        gap: 10em;
    }
}

.article p{
    width: 100%;
    max-width: 10em;
    margin: 0 auto;
    font-size: 1.2em;
}

.article {
    padding: 3em;
}

.features{
    display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin-top: 3em;
}

.section2{
    text-align: center;
}

.section2 h3{
    font-size: 1.5em;
    font-weight: 400;
}

.article h3{
    font-weight: 600;
}
.section2 h2{
    font-size: 2em;
    font-weight: 400;
}

@media (min-width:768px) {
    .features{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:auto auto ;
    }

    .article:nth-child(1) {
    grid-column: 1 / 3;
    justify-self: center;
  }

  .article:nth-child(2) {
    grid-column: 1;
  }

  .article:nth-child(3) {
    grid-column: 2;
  }
}

@media(min-width:1200px) {
    .features {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }
}

.section3{
    background-color: #C5C7C4;
    margin-bottom: -5em;
    
}
footer{
    
    background-color: #C5C7C4;
    padding: 3em 2em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2em;
    text-align: left;
}

footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-item div{
    text-align: left;
}

footer li{
    margin-bottom: 0.4em;
    
}

footer a img{
    height: 1.8em;
}

.footerlink{
    text-decoration: none;
    color: black;
}

.footerlink:hover{
    color: #7D908C;
    transition: all 0.1s ease-in;
}

.get-app img{
    width: 100%;
    max-width: 10em;
}
.wave{
    width: 100%;
}

.icon{
    height: 1.5em;
}

@media (min-width:768px) {
    .wave{
        margin-top: -10em;
        margin-bottom: -7em;
    }
}

@media (min-width:1200px) {
    .wave{
        margin-top: -18em;
        margin-bottom: -10em;
    }
}

/*FAQ*/

main h2{
    text-align: center;
    font-weight: 400;
    font-size: 2em;
}
.faq{
    padding: 2em;
    padding-right: 4em;
    padding-left: 4em;
}
.faq input[type="radio"] {
  display: none;
}

.faq label {
    color:black;
    display: block;
  padding: 1em;
  background-color: transparent;
  margin-top: 0.5em;
  cursor: pointer;
  border-radius: 0.6em;
  transition: background-color 0.3s ease;
  border: 0.1em solid black;
  
  
}

.faq label:hover{
    background-color: #7D908C;
}

.faq input[type="radio"]:checked + label {
  color:black;
   
}

.answer {
  display: none;
  padding: 1em;
  background-color: transparent;
  border-left: 3px solid #7D908C;
  margin-bottom: 1em;
  
  
  
}

.faq input[type="radio"]:checked + label + .answer {
  display: block;
}


.about-section1{
    background-color: #C5C7C4;
    padding-top: 2em;
}
.about-section1 h1{
    text-align: center;
    font-weight: 400;
}

.about-section1 h2{
    font-weight: 300;
    
}

.about-section1 p{
    width: 100%;
    max-width: 20em;
    text-align: center;
    margin: 0 auto;
}

.aboutimg1{
    width: 100%;
    margin-top: -3em;
    transform: translateY(0.35em);
}

.aboutimg2{
    width: 100%;
    max-width: 15em;
    display: flex;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.about-section2 h1{
    text-align: center;
    font-weight: 400;
}

.about-section2 h2{
    font-weight: 300;
}
.about-section2 p{
    width: 100%;
    max-width: 20em;
    text-align: center;
    margin: 0 auto;
}

/*CONTACT*/

.contact-section{
    background-color: #C5C7C4;
    padding-top: 2em;
    
}


.contact-section p{
    max-width: 20em;
    margin: 0 auto;
    padding-top: 1em;

}
.contact{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: black;
}

.contact h1{
    font-weight: 400;
}
.contact input{
    border: solid 0.1em black;
    background-color: transparent;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    outline: none;
    margin: 2em;
    width: 70%;
    color: black;
    caret-color: black;
    
}

.contact label{
    position: absolute;
    padding-left: 2em;
    
}



.bericht{
    padding-bottom: 2em;
}

.topic{
    padding-top: 2em;
    padding-bottom: 2em;
     position: relative;
    width: 100%;
    
    
}

#topic {
    padding: 1em 2em 1em 2em;
    border: solid 0.1em black;
    border-radius: 0.6em ;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: border 0.3s, box-shadow 0.3s;
    
    
    
}

#topic:focus{
    outline: none;
    border-color: black;
    background-color: #7D908C;
}

#topic{
     background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}



.kaart{
    display: block;
    margin: 0 auto;
    width: 100%;    
    max-width: 15em;
    border-radius: 1em;
    
}
.kaart-wrapper{
    padding-top: 5em;
}
